html, body {
    min-height: 100vh;
	max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', Arial, sans-serif;
    background: #FAFAFA
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'HCo Ringside Narrow SSm', Arial, sans-serif;
}
.containing-element {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-content {
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 1080px) {
	.page-content {
		max-width: 90vw;
	}
	img {
		max-width: 90vw;
	}